html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font:15px/1.3 'DejaVu Sans', Arial, sans-serif;
    color: #2c2c2c;
}

p {
    font-family: 'DejaVu Serif', serif, 'Times New Roman';
    font-size: 0.96em;
}

table th {
    font-weight: bold;
    background: #555555 !important;
    color: #f0f0f0;
}

table.upload td, table.upload th,
table.album-list td, table.album-list th,
table.simple-list td, table.simple-list th
{
    padding: 4px 8px;
}
table.upload tr:nth-child(even),
table.album-list tr:nth-child(even),
table.simple-list tr:nth-child(even)
{
    background: #ddd;
}
table.upload tr:nth-child(odd),
table.album-list tr:nth-child(odd),
table.simple-list tr:nth-child(odd)
{
    background: #f4f4f4;
}

a {
    color: #0050A0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin: 10px 4px;
    font-size: 0.9em;
}

form #submit {
    font-weight: bold;
}

.wrapper {
    min-height: 100%;
    position: relative;
    margin: 0 30px;
}

.header {
    border-width: 0 0 1px 0;
    border-color: #333333;
    border-style: solid;
    padding: 10px;
    /*background: #5ee;*/
}

.content {
    padding: 10px;
    padding-bottom: 80px; /* height of the footer */
}

.footer {
    height: 80px; /* keep in sync with padding-bottom of .content class */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 0.86em;

    border-width: 1px 0 0 0;
    border-color: #333333;
    border-style: solid;
}

.header .title {
    font-size: 2em;
    width: 400px;
}

.header .title a, .header .title a:hover {
    color: #000000;
}

.navigation a:hover, .navigation a {
    font-size: 0.9em;
    font-weight: bold;
    color: #0050A0;
    padding: 0.7em 1.1em;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover, .navigation .current {
    background: #f4f4f4;
}

.gallery-menu {
    font-size: 0.86em;
    height: 40px;
}

.required-field {
    color: darkred;
    font-weight: bold;
}

.errors {
    color: darkred;
    font-size: 1.1em;
    padding: 25px 10px;
    border-color: darkred;
    border-width: 1px;
    border-style: solid;
    background: rgb(241, 215, 215);
}

.delete {
    color: #aa0000;
}

.pagelist {
    padding: 40px 0 20px;
    font-size: 0.96em;
}

.image-list-element {
    padding: 5px 3px;
    margin: 10px 0;
    font-size: 0.8em;
    width:600px;
}
.thumbnail-container {
    padding: 3px;
    /*background-color: #4b4b4b;*/
    border: 1px solid #ccc;
    background-color: #f0f0f0;

}

.thumbnail-container,
table.album-list,
table.upload,
table.simple-list
{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
    box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
}
