html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font:15px/1.3 'DejaVu Sans', Arial, sans-serif;
    color: #2c2c2c;
}

p {
    font-family: 'DejaVu Serif', serif, 'Times New Roman';
    font-size: 0.96em;
}

h1 {
    font-variant: small-caps;
}
h3 {
    font-size: 1.6em;
    font-family: fantasy;
    font-weight: 400;
}

h3:before {
    font-size: 1.6em;
    content: '▪ ';
    color: orange;
    font-family: fantasy;
    line-height: 1;
    font-weight: 400;
}

table th {
    font-weight: bold;
    background: #555555 !important;
    color: #f0f0f0;
}

table.upload td, table.upload th,
table.album-list td, table.album-list th,
table.simple-list td, table.simple-list th
{
    padding: 4px 8px;
}
table.upload tr:nth-child(even),
table.album-list tr:nth-child(even),
table.simple-list tr:nth-child(even)
{
    background: #ddd;
}
table.upload tr:nth-child(odd),
table.album-list tr:nth-child(odd),
table.simple-list tr:nth-child(odd)
{
    background: #f4f4f4;
}

a {
    color: #0050A0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin: 10px 4px;
    font-size: 0.9em;
}

form #submit {
    font-weight: bold;
}

.wrapper {
    min-height: 100%;
    position: relative;
    margin: 1% 30px;
    background: white;
}

.header {
    border-width: 0 0 1px 0;
    border-color: #cfcfcf;
    border-style: solid;
    padding: 10px;
}

.content {
    background: none;
    padding: 10px;
    padding-bottom: 80px; /* height of the footer */
}

.footer {
    height: 80px; /* keep in sync with padding-bottom of .content class */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 0.86em;

    border-width: 1px 0 0 0;
    border-color: #cfcfcf;
    border-style: solid;
    background-image: linear-gradient(#f1f1f1 50%, #fafafa 50%);
}

.header {
    background-image: linear-gradient(#f1f1f1 50%, #fafafa 50%);
}
.header .logo{
    font-size: 2em;
    /*width: 400px;*/
    line-height: 1;
}

.header .title a, .header .title a:hover, .header .title a:visited {
    color: #000000;
    text-decoration:none;
}

.top-menu {
    text-align: right;
}

.top-menu a, .top-menu a:hover {
    font-size: 14px !important;
}

.top-menu a.current:hover,  .footer a.current:hover {
    border: 0px none;
}

.top-menu a:hover, .footer a:hover {
    border-bottom: 0.2em solid black;
}

.navigation a:hover, .navigation a {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
    padding: 0.5em 1em;
}

.navigation a {
    text-decoration: none;
}

.navigation .current {
    color: white !important;
    background-image: linear-gradient(#363636 50%, #525252 50%);
}

.gallery-menu {
    font-size: 0.86em;
    height: 40px;
    background: none;
}

.required-field {
    color: darkred;
    font-weight: bold;
}

.errors {
    color: darkred;
    font-size: 1.1em;
    padding: 25px 10px;
    border-color: darkred;
    border-width: 1px;
    border-style: solid;
    background: rgb(241, 215, 215);
}

.delete {
    color: #aa0000;
}

.pagelist {
    padding: 40px 0 20px;
    font-size: 0.96em;
}

.image-list-element {
    padding: 5px 3px;
    margin: 10px 0;
    font-size: 0.8em;
    width:600px;
}
.thumbnail-container {
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;

}

.thumbnail-container,
table.album-list,
table.upload,
table.simple-list
{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
    box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
}


.wsclient-output {
    word-wrap: break-word;
    width: 800px;
    background: #222222;
    color: #e0e0e0;
    min-height: 100px;
    max-height: 350px;
    overflow-y: auto;
    padding: 2px 5px;
}

.wsclient-output * {
    font-family: 'DejaVu Sans Mono', monospace !important;
    font-size: 0.8em !important;
}

.wsclient-output *::selection {
    color: #000;
    background: #FFA500;
}
.wsclient-output *::-moz-selection {
    color: #000;
    background: #FFA500;
}
.wsclient-output *::-webkit-selection {
    color: #000;
    background: #FFA500;
}

.checkbox-wrapper {
    margin-bottom: 1.1em;
    cursor: pointer;
    /*text-decoration: underline;*/
}
.checkbox-wrapper:hover {
    text-decoration: none;
}
.checkbox-wrapper input {
    margin-right: 6px;
}

.text-field-wrapper {
    cursor: pointer;
    text-decoration: none;
}

.text-field-wrapper input {
    margin-right: 6px;
}
.text-field-wrapper.numeric input {
    text-align: right;
    font-weight: 600;
    padding: 1px 3px;
    font-family: monospace;
    line-height: normal;
}

.action {
    cursor: pointer;
    border-bottom: 1px dashed #999;
    /*display: inline;*/
    /*line-height:1;*/
    text-decoration: none;
}

.action:hover {
    text-decoration: none;
    border-bottom: 1px solid #999;
}
