{% include 'header.twig' %}
{% include 'gallery/menu.twig' %}
{#{{ dump() }}#}
<form action="{{ page.url }}" method="post">
    <span class="required-field">*</span> <b>Name:</b>
    <input type="text" name="name" id="image-name" value="{{ post.name|default('') }}" placeholder="Image name" /><br/>
    <input type="file" name="filename"><br>
    <input type="submit" name="submit" id="submit" value="Add" />
</form>
{% include 'footer.twig' %}
