            
            <div>
                <h3>WebSocket Events</h3>
                <pre id="wsmeta-output" class="wsclient-output" style="height: 350px"></pre>
            </div>
            </div>
            <table class="footer" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="navigation">{% include 'main-menu.twig' %}</td>
                </tr>
            </table>
        </div>
</body>
</html>
